@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  margin-top: 2rem;
}

.buttons-group {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 20%;
}

.project {
  margin-top: 30px;
}

.card-switcher {
  width: 25%;
  height: 200px;
  /* display: flex; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.switcher {
  color: #3eb281;
  margin: 0 auto;
}

.logo-img {
  padding-top: 10px;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.card-content {
  color: #9c9c9c;
  font-weight: 700;
  font-size: 1rem;
}

.card-timeline {
  background-color: #dfe6e9;
  width: 50%;
  height: 200px;
  /* display: flex; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  ;
}

.slider-timeline {
  margin-top: 50px;
}
